@keyframes hero_idle {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1498px;
    }
}

@keyframes hero_run {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1498px;
    }
}

@keyframes hero_attack {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1498px;
    }
}

@keyframes hero_crash {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -299px;
    }
}

@keyframes hero_slide {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -1498px;
    }
}

@keyframes hero_levelup {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


.hero_box {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    width: 150px;
    height: 182px;

    will-change: transform;
}

.hero_box .hero {
    height: 100%;
    background-image: url("../lib/images/ninja_idle.png");
    background-size: 1498px 182px;
    animation: hero_idle 0.7s infinite steps(10);
}

.hero_box .hero.run, .hero_box .hero.run.attack {
    height: 100%;
    background-image: url("../lib/images/ninja_run.png");
    background-size: 1498px 182px;
    animation: hero_run 0.7s infinite steps(10);
}

.hero_box .hero.flip {
    transform: rotateY(180deg);
}

.hero_box .hero.attack {
    height: 100%;
    background-image: url("../lib/images/ninja_attack.png");
    background-size: 1498px 182px;
    animation: hero_attack 0.7s 1 steps(10);
}

.hero_box .hero.crash {
    background-image: url("../lib/images/ninja_crash.png");
    background-size: 299px 182px;
    animation: hero_crash 0.4s 1 steps(2);
}

.hero_box .hero.dead {
    background-image: url("../lib/images/ninja_dead.png");
    background-size: 150px 182px;
    animation: none;
    transform: rotate(100deg);
}

.hero_bullet {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 90;
    width: 120px;
    height: 24px;
    background-image: url("../lib/images/hero_bullet.png");
    background-size: cover;
    background-repeat: no-repeat;
    will-change: transform;
}

.hero_box .hero.slide{
    background-image: url("../lib/images/ninja_slide.png");
    background-size: 1498px 182px;
    animation: hero_slide 0.7s 1 steps(10);
}

.hero_box .level_up {
    position: absolute;
    left: 50%;
    bottom: 100%;
    width: 200px;
    height: 42px;
    background-image: url("../lib/images/levelup.png");
    background-size: cover;
    transform: translateX(-50%);
    opacity: 0;
}

.hero_box .level_up.active {
    animation: hero_levelup 1s linear;
    animation-fill-mode: both;
}
