@keyframes monster_run {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -2242px;
    }
}

.monster_box {
    position: absolute;
    left: 700px;
    bottom: 0;
    z-index: 90;
    width: 280px;
    height: 294px;
    will-change: transfrom;
}

.monster_box.remove {
    opacity: 0;
    transition: opacity .2s;
}

.monster_box .monster {
    height: 100%;
    background-image: url("../lib/images/monster/monster_green_run.png");
    background-size: 2242px 294px;
    animation: monster_run 1s infinite steps(8);
}

.monster_box .hp {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 110px;
    color: #fff;
    height: 20px;
    border: 2px solid black;
    transform: translateY(-100%);
}

.monster_box .hp span {
    display: block;
    width: 100%;
    height: 100%;
    background: red;
    transition: width .3s linear;
}

.monster_box.yellow_mon .monster {
    background-image: url("../lib/images/monster/monster_yellow_run.png");
}

.monster_box.pink_mon .monster {
    background-image: url("../lib/images/monster/monster_pink_run.png");
}

.monster_box.green_mon .monster {
    background-image: url("../lib/images/monster/monster_green_run.png");
}

.monster_box.zombie_king {
    width: 430px;
    height: 519px;
}

@keyframes zombie_king_run {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -4300px;
    }
}


.monster_box.zombie_king .monster_box {
    background-image: url("../lib/images/monster/zombie_run.png");
    background-size: 4300px 519px;
    animation: zombie_king_run 1s infinite steps(10);
}

@keyframes monster_run_boss {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: -3600px;
    }
}

.monster_box.green_mon_boss {
    width: 450px;
    height: 472px;

}

.monster_box.green_mon_boss .monster {
    background-image: url("../lib/images/monster/monster_green_run.png");
    background-size: 3600px 472px;
    animation: monster_run_boss 1s infinite steps(8);
}

.monster_box.yellow_mon_boss {
    width: 450px;
    height: 472px;
}

.monster_box.yellow_mon_boss .monster {
    background-image: url("../lib/images/monster/monster_yellow_run.png");
    background-size: 3600px 472px;
    animation: monster_run_boss 1s infinite steps(8);
}

.monster_box.pink_mon_boss {
    width: 450px;
    height: 472px;
}

.monster_box.pink_mon_boss .monster {
    background-image: url("../lib/images/monster/monster_pink_run.png");
    background-size: 3600px 472px;
    animation: monster_run_boss 1s infinite steps(8);
}
